<%- include('partials/header') %>

<section class="stuff">
    <h2>Welcome</h2>
    <p>if thou wants to know how thee can stay unscathed in a seige thou art in the right place</p>

</section>

<%- include('partials/header') %>