<%- include('partials/header') %>

<section class="howto">
    <p>if you want to survive wait. If you strat starving eat shoe soup</p>
    <p>mortal wounds are everywhere. If thee is stabbed thou will die from sickness. If thee get slashed thou will die from sickness. If thou are well thou will die from sickness</p>
    <img src="public/images.jpg" alt="">
</section>

<%- include('partials/header') %>